@define-color bg0_h rgba(29, 32, 33, 50);
@define-color fg0 #FBF1C7;
@define-color green #B8BB26;
@define-color red #FB4934;
@define-color yellow #FABD2F;
@define-color blue #83A598;
@define-color purple #D3869B;
@define-color aqua #8EC07C;
@define-color orange #FE8019;
@define-color dark_orange #D65D0E;
@define-color dark_blue #458588;
@define-color dark_green #98971A;

@define-color tinted rgba(0,0,0,0.33);
@define-color tinted_red rgba(255, 0, 0, 0.33);
@define-color tinted_blue rgba(131, 165, 152, 0.33);
@define-color tinted_green rgba(184, 187, 38, 0.33);
@define-color tinted_yellow rgba(250, 189, 47, 0.33);

@define-color tinted_fg0 rgba(251, 241, 199, 0.33);

.modules-right,
.modules-center,
.modules-left{
	background: transparent;
	border-radius: 10px;
    padding: 7px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    font-family: FiraCode Nerd Font;
    font-size: 15px;
}

#mpd,
#misc,
#tray,
#group-power,
#privacy-item,
#workspaces {
    background-color: @tinted;
    border-radius: 7;
    padding: 0 10px;
    color: @fg0;
}

#workspaces {
    padding: 0;
}

#workspaces button label {
  font-size: 25px;
}

#workspaces button {
    padding: 0 5px;
    min-width: 25px;
    color: @fg0;
}

@keyframes blink {
    to {
        color: @orange;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.empty {
    color: @tinted_fg0;
}

#workspaces button.active {
    color: @green;
}

#tray menu {
    font-family: PT Astra Sans;
    font-size: 17px;
    background-color: @bg0_h;
}

#tray menu menuitem:hover {
    color: @fg0;
    background-color: @dark_orange;
    border-radius: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    color: @green;
    font-weight: bold;
}

#mpd:hover {
    transition: 0.3s;
    background-color: rgba(0,0,0,0.66);
}

#mpd.disconnected {
    background-color: @tinted_red;
}

#misc {
    font-weight: bold;
}

#pulseaudio,
#clock,
#language {
    color: @fg0;
    padding: 0 7px;
    margin: 3px 1px;
    border-radius: 7px;
}

#pulseaudio:hover,
#clock:hover,
#language:hover {
    background-color: rgba(0,0,0,0.33);
    border-radius: 7px;
    transition: 0.3s;
}

#privacy-item {
    padding: 0 5px;
    color: @fg0;
    background-color: @tinted_red;
}

#custom-power,
#custom-quit,
#custom-sleep,
#custom-reboot {
    padding: 0 7px;
    margin: 3px 1px;
    border-radius: 7px;
    font-weight: bold;
}

#custom-reboot:hover {
    background-color: @tinted_yellow;
    transition: 0.3s;
}

#custom-power:hover {
    background-color: @tinted_red;
    transition: 0.3s;
}

#custom-quit:hover {
    transition: 0.3s;
    background-color: @tinted_blue;
}

#custom-sleep:hover {
    transition: 0.3s;
    background-color: @tinted_green;
}
