window {
    margin: 0px;
    border: 1px solid #928374;
    background-color: #282828;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    border-width: 2px;
    color: #ebdbb2;
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    font-weight: bold;
    background-color: none;
    /* background: ; */
    outline: none;
    border-radius: 4px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid transparent;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #FBF1C7;
}

#entry:selected {
    background-color: #1d2021;
}
